<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>코드 제출</title>
    <div th:insert="common-css :: head"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.20.0/min/vs/loader.js"></script>
</head>
<body>
<header>
    <div th:insert="navBar :: nav"></div>
</header>
<h1 th:text="${problem.title}"></h1>
<form method="post" action="/submitProc" onsubmit="hiddenTextArea.value = editor.getValue();">
    <input type="hidden" name="problem_id" th:value="${problem.id}">
    <input type="hidden" name="user_id" th:value="${#authentication.getName()}">
    <label for="language">코드 언어:</label>
    <select id="language" name="language">
        <option value="java">Java</option>
        <option value="python">Python</option>
        <option value="c++">C++</option>
    </select><br><br>
    <div id="editor" style="height:500px;"></div>
    <textarea id="code" name="code" style="display:none;"></textarea><br><br>
    <input type="submit" value="제출">

    <script>
        const language = document.getElementById("language");
        const hiddenTextArea = document.getElementById("code");

        // require.config는 Monaco 에디터를 로드하기 위한 설정을 해주는 곳이다.
        // paths에 'vs'라는 키와 그에 대응하는 CDN URL을 지정해주면,
        // Monaco 에디터를 사용할 수 있도록 필요한 모든 파일들을 해당 URL에서 불러온다.
        require.config({ paths: { 'vs': 'https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.20.0/min/vs' }});

        // "vs/editor/editor.main" 모듈을 로드하는 require 호출이다.
        // 이 모듈은 Monaco editor의 주요 기능을 포함하고 있다.
        require(['vs/editor/editor.main'], function() {
            // 이 부분에서 Monaco editor 인스턴스를 생성한다..
            // document.getElementById('container')를 통해
            // HTML 문서 내의 특정 요소(이 경우 'container'라는 ID를 가진 요소)에 에디터를 부착한다.
            window.editor = monaco.editor.create(document.getElementById('editor'), {
                // 에디터에 처음에 표시될 코드이다.
                value: [
                    "public class Main {\n" +
                    "    public static void main(String[] args) {\n" +
                    "        // write your code here\n" +
                    "    }\n" +
                    "}"
                ].join('\n'),
                // 에디터에서 사용할 프로그래밍 언어를 설정한다.
                language: 'java',
                // 에디터의 테마를 설정한다.
                theme: 'vs-white',
                // 이 옵션을 true로 설정하면 에디터가 항상 부모 요소를 꽉 채운다.
                automaticLayout: true
            });
        });

        // 선택과 로드 시 초기 값을 설정하는 함수
        const setInitialCode = () => {
            let code = "";
            let lang = "";
            if (language.value === "java") {
                code = "public class Main {\n" +
                    "    public static void main(String[] args) {\n" +
                    "       // write your code here\n" +
                    "    }\n" +
                    "}";
            } else if (language.value === "python") {
                code = "def main():\n" +
                    "    # write your code here\n" +
                    "\n" +
                    "if __name__ == \"__main__\":\n" +
                    "    main()";
            } else if (language.value === "c++") {
                code = "#include <iostream>\n" +
                    "\n" +
                    "using namespace std;\n" +
                    "\n" +
                    "int main() {\n" +
                    "    // write your code here\n" +
                    "    return 0;\n" +
                    "}";
            }
            window.editor.setValue(code);
        }

        // 페이지가 로드될 때 초기 값을 설정
        document.addEventListener("DOMContentLoaded", setInitialCode);

        // 드롭박스 선택 시 초기 값을 업데이트
        language.addEventListener("change", setInitialCode);
    </script>
</form>
</body>
</html>
