<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>코딩 웹사이트</title>
    <div th:insert="common-css :: head"></div>
</head>
<body>
<header>
    <div th:insert="navBar :: nav"></div>
</header>
</body>
</html>

<!--
<div th:if="${#authorization.expression('isAuthenticated()')}">
    <p>보이십니까?</p>
</div>
<div th:if="${!#authorization.expression('isAuthenticated()')}">
    <p>로그인을 하십쇼</p>
!-->
