<div th:fragment="nav" class="nav">
    <div class="top-bar">
        <nav>
            <div th:if="${#authorization.expression('isAuthenticated()')}">
                <ul>
                    <li><a href="#" th:text="${#authentication.getName()}"></a></li>
                    <li class="top-bar-divider"></li>
                    <li class="logout hidden"><a href="/logout">로그아웃</a></li>
                </ul>
            </div>
            <div th:if="${!#authorization.expression('isAuthenticated()')}">
                <ul>
                    <li><a href="/loginPage">로그인</a></li>
                    <li class="top-bar-divider"></li>
                    <li><a href="registerPage">회원가입</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="bottom-nav">
        <nav>
            <ul>
                <li><a href="/">홈페이지</a></li>
                <li><a href="/problemList">문제</a></li>
                <li><a href="#">검색</a></li>
                <li><a href="/user/resultList">채점</a></li>
                <li><a href="#">todo</a></li>
            </ul>
        </nav>
    </div>
</div>


