<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${problem.title}"></title>
    <div th:insert="common-css :: head"></div>
</head>
<body>
<header>
    <div th:insert="navBar :: nav"></div>
</header>
    <input type="hidden" name="problem_id" th:value="${problem.id}">
    <input type="hidden" name="user_id" th:value="${#authentication.getName()}">
    <span>난이도 : </span><span th:text="${problem.difficulty}"></span><br>
    <span>출제자 : </span><span th:text="${problem.author}"></span><br>
    <span>설명 : </span><span th:text="${problem.description}"></span><br>
    <span>입력 설명 : </span><span th:text="${problem.input_description}"></span><br>
    <span>출력 설명 : </span><span th:text="${problem.output_description}"></span><br>
    <span>생성 시간 : </span><span th:text="${problem.created_at}"></span><br>
    <span>수정 시간 : </span><span th:text="${problem.updated_at}"></span><br>
    <a th:href="@{./user/submit(problemId=${problem.id})}">제출</a>

</body>
</html>